<!-- home.html의 상속코드 사용 -->

{% extends 'home.html' %}

<!-- 아래에 자식 화면 설정 -->
{% block content %}
{% csrf_token %}
<div class="d-flex justify-content-between align-items-center">
    <h1>게시판목록</h1>
    <a href="/post/new" class="btn btn-primary"><b>게시글작성</b></a>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>제목</th>
            <!-- <th>내용</th> -->
            <th>목차</th>
            <!-- <th>이메일</th> -->
            <!-- <th>작성자</th> -->
            <th>작성날짜</th>
            <th>업데이트날짜</th>
        </tr>
    </thead>
    <tbody>
        <!-- test_select_all.html 참고-->
        {% for post in posts %}
        <tr>
            <td><a href="/post/{{post.id}}">{{post.title}}</a></td>
            <!-- post id를 기준으로 이름 데이터를 추출 urls.py 에서 받아준다-->
            <!-- <td>{{post.contents}}</td> -->
            <td>{{ forloop.counter }}</td>
            <!-- <td>{{post.email}}</td> -->
            <!-- <td>{{post.author.name}}</td> -->
            <td>{{post.created_at}}</td>
            <td>{{post.updated_at}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}