<!-- form 태그 <form action="처리할URL" method="get" 또는 "post"></form>
일반 문자열은 text, 비밀번호같이 민감 정보는 password 형식-->
{% extends 'home.html' %}

<!-- 아래에 자식 화면 설정 -->
{% block content %}

<form method="POST">
    {% csrf_token %}
    <label>제목</label><br>
    <input type="text" name="my_title"><br><br>
    <label>내용</label><br>
    <textarea name="my_contents" rows="7.5"></textarea><br><br>
    
    <label>작성자 이메일</label><br>
    <input type="text" name="my_email">
    <!-- 작성자 : <input type="textarea" name="my_writter" value="{{post.writter}}"><br> -->
    <br><br><input type="submit" value="완료">
</form>

{% endblock %}