<!-- urls의 path('', views.home), views의 def home(requests): -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>board</title>
    </head>
    <body>
        <ul>
            <!-- 각 태그별 링크를 할당 (a 태그-href) -->
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/post">계시판</a>
                <!-- urls.py와 비교해서 /posts로 변경 가능 -->
            </li>
            <li>
                <a href="/author">회원관리</a>
                <!-- urls.py와 비교해서 /authors로 변경 가능 -->
            </li>
        </ul>
        
        {% block content %}
        <!-- 상속 설정 - 해당 부분에 자식 화면이 생성 됨 (상단은 공통) -->
        {% endblock %}
    </body>
</html>